<!DOCTYPE html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="mywebpage.css">
</head>
<body>

<ul class="navbar">
	  <li><%= link_to 'Home', "/", :style=>'color: black;'%></li>
      <li>About</li>
      <li> <%= link_to 'Portfolio', action: "portfolio"%></li>
      <li> <%= link_to 'Contact Me', action: "contact"%></li>
      
</ul>

<br>
<br>



<div class="aboutpic">
	<div id="aboutpicinside">
   </div>



<div class="aboutdes">
	<p>That's me on my wedding day! </p>
  <br>
  <p> My names is <span style="font-weight:bold; font-size:14px">PABLO BOLAÑOS-CACHO </span> and I develop interactive web apps for companies remotely. I have a bachelor's degree in Finance from the University of San Diego. </p>
  <br>
  <p> I specialize in ruby on rails, javascript, jQuery, HTML, CSS, gitHub, and heroku.  </p>
  <br>

  <p> Whether the business requires initial development, is adding or replacing developers, I convert my customer's vision into reality!</p>
</div>

</div>






<div class="aboutfooterport">
    <a href="https://github.com/pablobol09"><%= image_tag("githubicon.jpg")%></a>
    <a href="https://www.linkedin.com/in/pablo-bola%C3%B1os-cacho-3a443926?trk=nav_responsive_tab_profile_pic"><%= image_tag("linkedin.jpg")%></a>
    <a href="https://twitter.com/pablobol09"><%= image_tag("twitter.jpg")%></a>
  </div>	

<div class="copyright">
    <p>© 2017 Pablo BC<p>
  </div>



</body>

</html>