<!DOCTYPE html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="mywebpage.css">
</head>
<body>

<ul class="navbar">
	  <li><%= link_to 'Home', "/", :style=>'color: black;'%></li>
      <li>About</li>
      <li> <%= link_to 'Portfolio', action: "portfolio"%></li>
      <li> <%= link_to 'Contact Me', action: "contact"%></li>
      
</ul>

<br>
<br>



<div class="aboutpic">
	<div id="aboutpicinside">
   </div>



<div class="aboutdes">
	<p>THAT'S ME ON MY WEDDING DAY! </p>
  <br>
  <p> MY NAME IS <span style="font-weight:bold; font-size:14px">PABLO BOLAÑOS-CACHO </span> AND I LIVE IN SAN DIEGO, CA. I DEVELOP INTERACTIVE WEB APPS FOR COMPANIES REMOTELY. </p>
  <br>
  <p> COMMUNICATION IS DONE VIA MY CUSTOMER'S PREFERENCE: EMAIL, PHONE, SKYPE, OR IN PERSON. I SPECIALIZE IN RUBY ON RAILS, jQUERY, HTML, CSS, GITHUB, AND HEROKU. I CAN ALSO LEAD A TEAM OF DEVELOPERS BY CREATING THE SYNERGY NEEDED TO FULFILL MY CUSTOMER'S EXPECTATIONS AS QUICKLY AS POSSIBLE. </p>
  <br>

  <p> WHETHER THE BUSINESS REQUIRES INITIAL DEVELOPMENT, IS ADDING OR REPLACING DEVELOPERS, I CONVERT MY CUSTOMER'S VISION INTO REALITY.</p>
</div>

</div>






<div class="aboutfooterport">
    <a href="https://github.com/pablobol09"><%= image_tag("githubicon.jpg")%></a>
    <a href="https://www.linkedin.com/in/pablo-bola%C3%B1os-cacho-3a443926?trk=nav_responsive_tab_profile_pic"><%= image_tag("linkedin.jpg")%></a>
    <a href="https://twitter.com/pablobol09"><%= image_tag("twitter.jpg")%></a>
  </div>	

<div class="copyright">
    <p>© 2017 Pablo BC<p>
  </div>



</body>

</html>