<!DOCTYPE html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="mywebpage.css">

</head>
<body>
    
    <ul class="navbar">
      <li><%= link_to 'Home', "/", :style=>'color: black;'%></li>
      <li><%= link_to 'About', action: "about", :style=>'color: black;'%></li>
      <li> <%= link_to 'Portfolio', action: "portfolio"%></li>
      <li>Contact Me</li>
    </ul>

    <br>
    <br>


<div class="contactpic">
    <br>
    <a href="mailto:pablobol09@gmail.com" id="email"><%= image_tag("email_large.jpg") %></a>
    <a href="https://www.linkedin.com/in/pablo-bola%C3%B1os-cacho-3a443926?trk=nav_responsive_tab_profile_pic"><%= image_tag("linkedin_large.jpg") %></a>
    <a href="https://twitter.com/pablobol09"><%= image_tag("twitter_large.jpg") %></a>
    <a href="https://github.com/pablobol09" id="last"><%= image_tag("github_large.jpg") %></a>
    

</div>

<br>
<br>
	
  <div class="footer">
    
  </div>

	<div class="copyright">
    <p>© 2017 Pablo BC<p>
  </div>

</body>

</html>