<!DOCTYPE html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="mywebpage.css">
</head>
<body>

<ul class="navbar">
	  <li><%= link_to 'Home', "/", :style=>'color: black;'%></li>
      <li><%= link_to 'About', action: "about", :style=>'color: black;'%></li>
      <li>Portfolio</li>
      <li> <%= link_to 'Contact Me', action: "contact", :style=>'color: black;'%></li>
      
</ul>

<br>
<br>

<div class="portfoliopic">

</div>


<ul class="apps1">
	<li id="first"><a href="https://whispering-sierra-62883.herokuapp.com/"><%= image_tag("innovationcloud.jpg")%></a></li>
	

	<li id="second"><a href="https://whispering-sierra-62883.herokuapp.com/"><%= image_tag("createandsharestories.jpg")%></a></li>
</ul>

<ul class="des1">
	<li id="des1">
	<h1> Innovation Cloud </h1>
	<p> this is my first app </p>	
	</li>
	<li>
	<h1> Create and Share Stories </h1>
	<p> The landing page for an upcoming travel journal app. </p>	
	</li>
</ul>


<ul class="apps2">
	<li id="third"><a href="https://whispering-sierra-62883.herokuapp.com/"><%= image_tag("wearebroadway.jpg")%></a></li>
	<li id="fourth"><a href="https://whispering-sierra-62883.herokuapp.com/"><%= image_tag("favoritemovies.jpg")%></a></li>
</ul>

<ul class="des2">
	<li id="des3">
	<h1> We Are Broadway</h1>
	<p> this is my second app  </p>	
	</li>
	<li>
	<h1> Favorite Movies </h1>
	<p> this is my fourth app </p>	
	</li>
</ul>

<div class="footerport">
    <a href="https://github.com/pablobol09"><%= image_tag("githubicon.jpg")%></a>
    <a href="https://www.linkedin.com/in/pablo-bola%C3%B1os-cacho-3a443926?trk=nav_responsive_tab_profile_pic"><%= image_tag("linkedin.jpg")%></a>
    <a href="https://twitter.com/pablobol09"><%= image_tag("twitter.jpg")%></a>
  </div>	

<div class="copyright">
    <p>© 2017 Pablo BC<p>
  </div>



</body>

</html>