<!DOCTYPE html>
<html>
<head>
<link type="text/css" rel="stylesheets" href="pages.scss">
</head>
<body>
    
    <ul class="navbar">
      <li>Home</li>
      <li><%= link_to 'About', "pages/about", :style=>'color: black;'%></li>
      <li> <%= link_to 'Portfolio', "pages/portfolio"%> </li>
      <li> <%= link_to 'Contact Me', "pages/contact"%></li>
    </ul>

    <br>
    <br>

<div class="madmen">

    <h2 class="tline"> Welcome to my page, I develop web apps </h2>
  
    <div class="lang">

    <h4> WELCOME <h4>
    <h4> BIENVENIDO</h4>
    <h4> WILLKOMMEN </h4>
    <h4> BIENVENUE</h4>
    <h4> BENVENUTO </h4>
    <h4> ようこそ</h4>
    <h4> 歡迎 </h4>
    <h4> ДОБРО ПОЖАЛОВАТЬ</h4>
    <h4> VÄLKOMMEN</h4>
    <h4> BEM VINDA</h4>
    <h4> BEVINGUT </h4>
    <h4> DOBRODOŠLI</h4>
    <h4> VELKOMMEN </h4>
    <h4> VITAJTE</h4>
    <h4> TERVETULOA</h4>
    <h4> ΚΑΛΩΣ ΗΡΘΑΤΕ</h4>
    <h4> WELKOM </h4>
    
    </div>


</div>

<br>
<br>
	
  <div class="footer">
    <a href="https://github.com/pablobol09"><%= image_tag("githubicon.jpg")%></a>
    <a href="https://www.linkedin.com/in/pablo-bola%C3%B1os-cacho-3a443926?trk=nav_responsive_tab_profile_pic"><%= image_tag("linkedin.jpg")%></a>
    <a href="https://twitter.com/pablobol09"><%= image_tag("twitter.jpg")%></a>
  </div>

	<div class="copyright">
    <p>© 2017 Pablo BC<p>
  </div>

</body>

</html>
